body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'c c'
    'a b';
}
.main{
    grid-area: a;
    background: tomato;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.right{
    grid-area: b;
    background: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header{
    grid-area: c;
    background: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    text-decoration-line: none;
    color: black;
}
table,td, tr{
    border: 1px solid black;
    color: wheat;
}
form{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}
td:hover{
    background: crimson;
    transition: 0.3s;
}
input{
    border-radius: 6px;
}
.clock{
    background: black;
    color: green;
    padding: 10px;
    border-radius: 6px;
}
.formu{
    color: saddlebrown;
}
.wylog{
    background: royalblue;
    padding: 20px;
    border-radius: 6px;
}
.pr{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
a{
    text-align: center;
}
.fab{
    font-size: 100px;
}
.karta{
    border-radius: 6px;
        background: aquamarine;
}